include README.md
recursive-include octoprint_PenroseControlCenter/ui *
recursive-include octoprint_PenroseControlCenter/config *
recursive-include octoprint_PenroseControlCenter/firmware *
recursive-include octoprint_PenroseControlCenter/models *
recursive-include octoprint_PenroseControlCenter/octoprint_client *
recursive-include octoprint_PenroseControlCenter/utils *
include versioneer.py
include octoprint_PenroseControlCenter/_version.py