include README.md
recursive-include octoprint_VolterraControlCenter/ui *
recursive-include octoprint_VolterraControlCenter/config *
recursive-include octoprint_VolterraControlCenter/Feeltek *
recursive-include octoprint_VolterraControlCenter/firmware *
recursive-include octoprint_VolterraControlCentergcode *
recursive-include octoprint_VolterraControlCenter/hurry *
recursive-include octoprint_VolterraControlCenter/models *
recursive-include octoprint_VolterraControlCenter/moonrakerClient *
recursive-include octoprint_VolterraControlCenter/octoprint_client *
recursive-include octoprint_VolterraControlCenter/processAutomationController *
recursive-include octoprint_VolterraControlCenter/temperatureController *
recursive-include octoprint_VolterraControlCenter/utils *
include versioneer.py
include octoprint_VolterraControlCenter/_version.py