########################################
# CORE_GCODE_MACROS.cfg
# Common G-codes and commands to extend Klipper capability
# Backwards compatible with Marlin for all printer variants
# Author: Vijay Raghav Varada
# Version: 2
########################################

########################################
# Misc
########################################

[force_move]
enable_force_move: True

[save_variables]
filename: ~/.octoprint/data/klipper/variables.cfg

[virtual_sdcard]
path: ~/.octoprint/uploads
on_error_gcode: CANCEL_PRINT

[display_status]

########################################
# Idle Timeout
########################################

[idle_timeout]
gcode:
    {% if printer['pause_resume'].is_paused|int == 1 %}
        {% if printer.extruder.temperature|float >= 150 %}
            M104 T0 S150
        {% endif %}
        {% if "extruder1" in printer and (printer['extruder1'].temperature|default(0)|float) >= 150 %}
            M104 T1 S150
        {% endif %}
    {% else %}
        M107
        M104 T0 S0
        {% if "extruder1" in printer %}M104 T1 S0{% endif %}
        M140 S0
        M84
    {% endif %}
timeout: 2400

########################################
# Bed Screws Adjustment
########################################

[gcode_macro SCREW_ADJUST]
gcode:
    G28
    BED_SCREWS_ADJUST

########################################
# Bed Mesh Commands
########################################

[gcode_macro M420]
gcode:
    {% if params.S == '1' %}
        {% if printer.bed_mesh.profiles.p1 is defined %}
            RESPOND TYPE=echo MSG="Existing mesh found, loading...";
            BED_MESH_PROFILE LOAD=p1
        {% else %}
            RESPOND TYPE=echo MSG="No existing mesh found";
        {% endif %}
    {% endif %}
    {% if params.S == '0' %}
        BED_MESH_CLEAR
    {% endif %}

########################################
# Settings Related
########################################

[gcode_macro M218]
gcode:
    {% if params.T =='1' %}
        {% if params.X %}
            SAVE_VARIABLE VARIABLE=tool_offset_x VALUE={params.X|float}
        {% endif %}
        {% if params.Y %}
            SAVE_VARIABLE VARIABLE=tool_offset_y VALUE={params.Y|float}
        {% endif %}
        {% if params.Z %}
            SAVE_VARIABLE VARIABLE=tool_offset_z VALUE={params.Z|float}
        {% endif %}
    {% endif %}

[gcode_macro M500]
gcode:
    SAVE_CONFIG NO_RESTART=1

[gcode_macro M503]
gcode:
    {% if "extruder1" in printer %}
        RESPOND TYPE=echo MSG="M218 T1 X{printer.save_variables.variables.tool_offset_x|default(0.0)} Y{printer.save_variables.variables.tool_offset_y|default(0.0)} Z{printer.save_variables.variables.tool_offset_z|default(0.0)}"
    {% endif %}
    {% if 'probe' in printer.configfile.config %}
        RESPOND TYPE=echo MSG="M851 Z{printer.configfile.config.probe.z_offset}"
    {% else %}
        RESPOND TYPE=echo MSG="M851 Z0.000"
    {% endif %}

########################################
# Babystepping
########################################

[gcode_macro M290]
gcode:
    {% set babystep_z = printer.save_variables.variables.babystep_z|default(0.0) %}
    {% set new_babystep = babystep_z + (params.Z|default(0.0)|float) %}
    SAVE_VARIABLE VARIABLE=babystep_z VALUE={new_babystep}
    SET_GCODE_OFFSET Z_ADJUST={params.Z|default(0.0)} MOVE=1
    {% if printer.toolhead.extruder == "extruder" %}
        # Only apply to probe offset when on T0 (not T1) to avoid saving tool offset with probe offset
        Z_OFFSET_APPLY_PROBE
        SAVE_CONFIG NO_RESTART=1
    {% endif %}

[delayed_gcode CLEAR_BABYSTEP_Z]
initial_duration: 1
gcode:
    SAVE_VARIABLE VARIABLE=babystep_z VALUE=0.0
    SAVE_CONFIG NO_RESTART=1

########################################
# Z Probe Offset
########################################

[gcode_macro M851]
gcode:
    {% if params.Z %}
        SET_GCODE_OFFSET Z=0
        {% set new_offset = params.Z|float %}
        {% set current_probe_offset = printer.configfile.config.probe.z_offset|float %}
        {% set offset_adjustment = current_probe_offset - new_offset %}
        SET_GCODE_OFFSET Z={offset_adjustment}
        RESPOND TYPE=echo MSG="offset adjustment: {offset_adjustment}"
        Z_OFFSET_APPLY_PROBE
        SET_GCODE_OFFSET Z=0
        SAVE_CONFIG
    {% endif %}

########################################
# Position Report
########################################

[gcode_macro M114]
rename_existing: M114.1
gcode:
    RESPOND TYPE=echo MSG="Count {printer.gcode_move.gcode_position}"
    M114.1

########################################
# Temperature Related
########################################

[gcode_macro M190]
rename_existing: M190.1
variable_tolerance: 2.0
gcode:
    {% if params.S %}
        M140 S{params.S}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={params.S|float - tolerance}
    {% elif params.R %}
        M190.1 S{params.R}
    {% else %}
        M140 S0
    {% endif %}

########################################
# Pressure Advance
########################################

[gcode_macro M900]
gcode:
    {% if params.K is defined %}
        {% set K = params.K|float %}
        SET_PRESSURE_ADVANCE ADVANCE={K}
    {% endif %}

########################################
# Pellet Feeder System
# NOTE: Full pellet feeder functionality is in PELLET_RELAY_CONTROL.cfg
# These are convenience aliases for common operations
########################################

[gcode_macro SET_PELLET_LEVEL_SENSOR]
description: Enable or disable pellet level sensors. S=1 enable, S=0 disable, T=0/1 for specific tool
gcode:
    # Delegate to SET_PELLET_SENSOR in PELLET_RELAY_CONTROL.cfg
    {% set enable = params.S|default(1)|int %}
    {% set tool = params.T|default(-1)|int %}
    {% if tool >= 0 %}
        SET_PELLET_SENSOR S={enable} T={tool}
    {% else %}
        SET_PELLET_SENSOR S={enable}
    {% endif %}

[gcode_macro QUERY_PELLET_LEVEL_SENSOR]
description: Query current state of pellet level sensors
gcode:
    # Delegate to QUERY_PELLET_SYSTEM in PELLET_RELAY_CONTROL.cfg
    QUERY_PELLET_SYSTEM

[gcode_macro QUERY_LINEVAC_STATUS]
description: Query current state of line vac solenoid valves
gcode:
    # Delegate to QUERY_PELLET_SYSTEM in PELLET_RELAY_CONTROL.cfg
    QUERY_PELLET_SYSTEM