########################################
# T0_PELLET_LEVEL_SENSOR.cfg
# Capacitive Pellet Level Sensor for Tool 0 Hopper
# Automatically controls line vac solenoid for pellet transport
# Author: Vijay Raghav Varada
# Version: 2
########################################

# Capacitive sensor detects pellet presence in T0 hopper
# Sensor logic: 
#   - Pellets PRESENT = switch triggered (filament_detected = true)
#   - Pellets ABSENT  = switch not triggered (filament_detected = false)
# When pellets drop below sensor level, runout_gcode activates line vac
# When pellets rise above sensor level, insert_gcode deactivates line vac

[filament_switch_sensor pellet_level_T0]
switch_pin: ^PF4
pause_on_runout: False
event_delay: 1.0
runout_gcode:
    # Pellet level LOW - open solenoid valve to start line vac
    LINEVAC_T0_ON
insert_gcode:
    # Pellet level OK - close solenoid valve to stop line vac
    LINEVAC_T0_OFF

[delayed_gcode _PELLET_SENSOR_T0_INIT]
initial_duration: 2
gcode:
    # Enable pellet sensor after startup for automatic refill
    SET_FILAMENT_SENSOR SENSOR=pellet_level_T0 ENABLE=1
    RESPOND TYPE=echo MSG="T0 Pellet Level Sensor: Initialized"

