<div id="navbar_PenroseControlCenter">
    <span id="machine_state" data-bind="visible: towerEnabled()"></span>
    <span id="door_state" data-bind="visible: doorLockEnabled(), css: doorStateCss()" title="Door Lock Status">
        <i data-bind="css: doorIconCss()"></i>
    </span>
</div>
