########################################
# BASE_VOLTERRA_ALF.cfg
# Base Hardware Configuration for Volterra ALF Single Nozzle Printer
# Contains stepper motor, TMC driver, heater, and sensor configurations
# Author: Vijay Raghav Varada, Hamil Sunny
# Version: 1
########################################

########################################
# X Stepper - Motor M1
# CoreXY configuration
########################################

[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 32
endstop_pin: ^PF0
homing_speed: 80
homing_retract_dist: 10.0

[tmc5160 stepper_x]
cs_pin: PC13
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF4
run_current: 1.200
sense_resistor: 0.075
stealthchop_threshold: 0

########################################
# Y Stepper - Motor M2
# CoreXY configuration
########################################

[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 32
endstop_pin: ^PF2
homing_speed: 80
homing_retract_dist: 10.0

[tmc5160 stepper_y]
cs_pin: PE3
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF3
run_current: 1.200
sense_resistor: 0.075
stealthchop_threshold: 0

# ########################################
# # Z Stepper - Motor M3
# ########################################

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 8
rotation_distance: 4
endstop_pin: ^PF1
homing_speed: 15
second_homing_speed: 3
homing_retract_dist: 3

[tmc5160 stepper_z]
cs_pin: PB9
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF2
run_current: 2.800
sense_resistor: 0.022
stealthchop_threshold: 0

# ########################################
# # Extruder - Motor M4
# ########################################

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 4.7158
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PA0
sensor_pin: PB0
sensor_type: PT1000
control: pid
pid_Kp: 17.062
pid_Ki: 0.455
pid_Kd: 159.960
min_extrude_temp: -130
max_extrude_only_distance: 5000.0
max_extrude_cross_section: 8.0
min_temp: -200
max_temp: 480

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2

[tmc5160 extruder]
cs_pin: PB5
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
#diag1_pin: PF1
run_current: 0.600
sense_resistor: 0.075
stealthchop_threshold: 0

# ########################################
# # Redundant Extruder - Extruder Side Motor M5
# ########################################

[extruder_stepper extruder_side]
extruder: extruder
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 7.710

[tmc5160 extruder_stepper extruder_side]
cs_pin: PG14
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
run_current: 1.000
sense_resistor: 0.075
stealthchop_threshold: 0

# ########################################
# # Heater Bed
# ########################################

[heater_bed]
heater_pin: PA5
sensor_pin: PB1
sensor_type: ATC Semitec 104GT-2
control: watermark
min_temp: 0
max_temp: 220

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 10
heating_gain: 1



# ########################################
# # Probe and ABL
# ########################################

[probe]
pin: PD8
x_offset: 0
y_offset: 0
#z_offset: -0.55
sample_retract_dist: 2.0
speed: 4
lift_speed: 10
samples_tolerance: 0.05
samples: 1
samples_result: average
samples_tolerance_retries: 8

# # ########################################
# # # Part Cooling Fan (zone now)
# # ########################################

# # [fan]
# # pin: PA4
# # max_power: 0.5
# # shutdown_speed: 0
# # cycle_time: 0.03125
# # hardware_pwm: False
# # kick_start_time: 0.100

########################################
# Active Cooling Fan (Always On When Hot)
########################################

[heater_fan AOF]
pin: PF7
heater: extruder
heater_temp: 50.0

# ########################################
# # Temperature Sensors
# ########################################

# [temperature_sensor Zone]
# sensor_type: ATC Semitec 104GT-2
# sensor_pin: PC5
# min_temp: 0
# max_temp: 400
# gcode_id: Zone

[temperature_sensor M8P]
sensor_type: temperature_mcu

[temperature_sensor CM4]
sensor_type: temperature_host

########################################
# Single Nozzle Configuration
########################################

[respond]
default_type: echo

########################################
# Misc.
########################################

[delayed_gcode STARTUP]
initial_duration: 1
gcode:
    RESPOND TYPE=echo MSG="Volterra ALF Ready"

########################################
# Single Nozzle Tool Management
########################################

# For single nozzle printer, T0 is always active, T1 commands are ignored with message
[gcode_macro T0]
description: Tool 0 (already active on single nozzle printer)
gcode:
    RESPOND TYPE=echo MSG="Active Extruder: 0"

# [gcode_macro T1]
# description: Tool 1 not available on single nozzle printer
# gcode:
#     RESPOND TYPE=echo MSG="Active Extruder: 0"

# ########################################
# # Temperature & Fans (Single Nozzle)
# ########################################

# [gcode_macro M106]
# description: Set print cooling fan speed for single nozzle
# rename_existing: M106.1
# gcode:
#     {% set raw_speed = params.S|default(0)|float %}
#     {% set fan_speed = (raw_speed / 255.0)|round(2) %}
#     {% if (params.P) is defined %}
#         {% if (params.P)|int == 0 %}
#             M106.1 S{(raw_speed)|int}
#         {% else %}
#             RESPOND TYPE=echo MSG="Fan P{params.P} not available on single nozzle printer"
#         {% endif %}
#     {% else %}
#         M106.1 S{(raw_speed)|int}
#     {% endif %}


# [gcode_macro M107]
# description: Turn off print cooling fan
# gcode:
#     M106 S0

# Override M104 to handle T1 commands gracefully on single nozzle
[gcode_macro M104]
rename_existing: M104.1
description: Set extruder temperature (single nozzle)
gcode:
    {% set temp = params.S|default(0)|float %}
    {% set tool = params.T|default(0)|int %}
    {% if tool == 0 or tool == -1 %}
        M104.1 S{temp}
    {% elif tool == 1 %}
        RESPOND TYPE=echo MSG="T1 not available on single nozzle printer, ignoring M104 T1"
    {% else %}
        RESPOND TYPE=error MSG="Invalid tool T{tool}"
    {% endif %}

#Override M109 to handle T1 commands gracefully on single nozzle
[gcode_macro M109]
rename_existing: M109.1
description: Set extruder temperature and wait (single nozzle)
gcode:
    {% set temp = params.S|default(0)|float %}
    {% set tool = params.T|default(0)|int %}
    {% if tool == 0 or tool == -1 %}
        M109.1 S{temp}
    {% elif tool == 1 %}
        RESPOND TYPE=echo MSG="T1 not available on single nozzle printer, ignoring M109 T1"
    {% else %}
        RESPOND TYPE=error MSG="Invalid tool T{tool}"
    {% endif %}

########################################
# PAUSE & Resume Functionality for Single Nozzle
########################################

[pause_resume]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set printer_var = printer["gcode_macro PRINTER_VARIABLES"] %}
    {% set z = params.Z|default(printer_var.z_hop)|float %}
    {% set r = params.R|default(2.0)|float %}
    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target|default(0)|int}

        SAVE_GCODE_STATE NAME=PAUSE
        BASE_PAUSE

        {% if printer.gcode_move.gcode_position.z < (printer.toolhead.axis_maximum.z - z) %}
            G91
            G1 Z{z} F900
        {% else %}
            RESPOND TYPE=echo MSG="Pause zhop exceeds maximum Z height."
        {% endif %}
        G90
        G1 X{printer_var.tool0_pause_position_x} Y{printer_var.tool0_pause_position_y} F{printer_var.feedrate}
        #M106 S0
        {% if printer.extruder.temperature >= 150 %}
            M83
            G1 E-{r} F2100
        {% endif %}
    {% endif %}

[gcode_macro CLEAN_NOZZLE]
gcode:
    {% set printer_var = printer["gcode_macro PRINTER_VARIABLES"] %}
    G90
    G1 X{printer_var.tool0_pause_position_x + 10} Y{printer_var.tool0_pause_position_y + 10} F{printer_var.feedrate}
    G1 X{printer_var.tool0_pause_position_x + 50} F{printer_var.feedrate}
    G1 X{printer_var.tool0_pause_position_x + 10}
    G1 X{printer_var.tool0_pause_position_x + 50}
    G1 X{printer_var.tool0_pause_position_x + 10}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set e = params.E|default(20)|float %}
    {% set r = params.R|default(1)|float %}
    {% if printer['pause_resume'].is_paused|int != 1 %}
        RESPOND TYPE=echo MSG="RESUME ignored (not paused)"
    {% else %}
        # Restore temps
        {% if etemp > 0 %}
            M104 S{etemp|int}
            M109 S{etemp|int}
        {% endif %}

        # Determine if we can safely prime
        {% set min_temp = printer.configfile.settings.extruder.min_extrude_temp|float %}
        {% set can_prime = (printer.extruder.temperature|float >= min_temp) %}

        {% if can_prime %}
            M83
            G1 E{r} F2100
        {% endif %}

        CLEAN_NOZZLE
        M420 S1
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=150

        {% if can_prime %}
            M83
            G1 E{e} F900
        {% endif %}

        BASE_RESUME VELOCITY=150
    {% endif %}
