########################################
# PRINTER_VOLTERRA_ALF.cfg
# Printer specific configurations for Volterra ALF
# Author: Vijay Raghav Varada, Yashas B Padmashali
# Version: 1
########################################

########################################
# Core Configs, Common to all printers
#[include macro.cfg]
[include CORE_GCODE_MACROS.cfg]
########################################

########################################
# Select Printer Family Series
# Volterra ALF is a single nozzle printer
[include BASE_VOLTERRA_ALF.cfg]
########################################

########################################
# Include Add-Ons
#----------------------------------------
# Filament Sensors on Main Board
#----------------------------------------
[include T0_FILAMENT_RUNOUT_SENSOR.cfg]
[include T0_FILAMENT_JAM_SENSOR.cfg]
#----------------------------------------
# T1 sensors disabled for single nozzle
#[include T1_FILAMENT_RUNOUT_SENSOR.cfg]
#[include T1_FILAMENT_JAM_SENSOR.cfg]
#----------------------------------------
# Other Add Ons:
#----------------------------------------
# [include MAG_DOOR.cfg]

#[include mainsail.cfg]
[include ELECTRONICS_CHAMBER_COOLING.cfg]
[include CHAMBER_HEATER.cfg]
[include RING.cfg]
[include FILAMENT_HEATER.cfg]
########################################

########################################
# PRINTER VARIABLES
# Contains all printer-specific settings
# Used by ControlCenter for dynamic configuration
########################################
[gcode_macro PRINTER_VARIABLES]
# Offset coordinates for dual_carriage (not applicable for single nozzle)
variable_offset_x: 0
variable_offset_y: 0
variable_offset_z: 0

# Autopark parameters
variable_autopark: 1
variable_z_hop: 0.6
variable_movespeed: 200  # mm/s
variable_feedrate: 8000  # mm/min

# HeatBed size
variable_bed_x_min: 0
variable_bed_x_max: 400
variable_bed_y_min: 0
variable_bed_y_max: 400
variable_bed_z_min: 0
variable_bed_z_max: 435

# Print cooling fans names
variable_fan0: 'extruder_CF'

# Pause Positions
variable_tool0_pause_position_x: 10
variable_tool0_pause_position_y: 10

# Printer Configuration
variable_is_dual_nozzle: 0
variable_ptfe_tube_length: 1500

# Bed Calibration Positions (3-point bed screw locations)
variable_bed_calibration_x1: 145
variable_bed_calibration_y1: 65
variable_bed_calibration_x2: 30 
variable_bed_calibration_y2: 255
variable_bed_calibration_x3: 200
variable_bed_calibration_y3: 360
variable_bed_calibration_x4: 150
variable_bed_calibration_y4: 150
gcode:
    G90

########################################
# Printer Kinematics
########################################
[printer]
kinematics: corexy
max_velocity: 200
max_accel: 1500
max_z_velocity: 20
max_z_accel: 800

########################################
# X Axis Position Settings
########################################
[stepper_x]
position_endstop: -10
position_min: -10 #20
position_max: 300 #360 #400

########################################
# Y Axis Position Settings
########################################
[stepper_y]
position_endstop: 310 #400
position_max: 310 #400
position_min: 0 #0

########################################
# Z Axis Position Settings
########################################
[stepper_z]
position_endstop: 393 #408
position_max: 393 #408
position_min: -2

########################################
# Input Shaping and Resonance
########################################
[input_shaper]

########################################
# Bed Mesh
########################################
[bed_mesh]
mesh_min: 50, 50
mesh_max: 250, 250 #300, 300
probe_count: 4,4 
speed: 200
horizontal_move_z: 5
algorithm: bicubic

########################################
# Bed Screws for Manual Leveling
########################################

# [bed_screws]
# screw1: 145,65
# screw1_name: Front Left
# screw2: 30,255
# screw2_name: Front Right
# screw3: 255,255
# screw3_name: Rear Centre
# horizontal_move_z: 5
# speed: 50
# probe_speed: 5
