########################################
# printer.cfg
# Main configuration used by Klipper
# This is the only file to be modified for
# every printer variant/SKU
# Author: Vijay Raghav Varada
# Version: 2
########################################

########################################
# Include .cfg Files
# Order in which files included is important
# for function overrides & references downstream
########################################

########################################
# Include Mainsail configuration
########################################
[include mainsail.cfg]
[include macro.cfg]
########################################
[include PRINTER_PENROSE_600.cfg]
########################################

########################################
# MCU Config
########################################

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_20001D000A51313339373836-if00
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_41002C000651323235363233-if00
restart_method: command

########################################
# Virtual SD Card
########################################

[virtual_sdcard]
path: /home/raspii/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[output_pin solenoid_T0]
pin: PD14
value: 1
shutdown_value: 1

[output_pin solenoid_T1]
pin: PE9
value: 1
shutdown_value: 1


#####################################################################
# MANUAL RELAY MACROS
#####################################################################

[gcode_macro RELAY_START]
description: Turn ON both relays (ACTIVE-LOW)
gcode:
    SET_PIN PIN=solenoid_T0 VALUE=0
    SET_PIN PIN=solenoid_T1 VALUE=0


[gcode_macro RELAY_STOP]
description: Turn OFF both relays (SAFE)
gcode:
    SET_PIN PIN=solenoid_T0 VALUE=1
    SET_PIN PIN=solenoid_T1 VALUE=1


[gcode_macro RELAY_T0_ON]
description: Turn ON relay T0 only
gcode:
    SET_PIN PIN=solenoid_T0 VALUE=0
    SET_PIN PIN=solenoid_T1 VALUE=1

[gcode_macro RELAY_T0_OFF]
description: Turn OFF relay T0 only
gcode:
    SET_PIN PIN=solenoid_T0 VALUE=1
    SET_PIN PIN=solenoid_T1 VALUE=0

[gcode_macro RELAY_T1_ON]
description: Turn ON relay T1 only
gcode:
    SET_PIN PIN=solenoid_T1 VALUE=0
    SET_PIN PIN=solenoid_T0 VALUE=1

[gcode_macro RELAY_T1_OFF]
description: Turn OFF relay T1 only
gcode:
    SET_PIN PIN=solenoid_T1 VALUE=1
    SET_PIN PIN=solenoid_T0 VALUE=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.186250, 0.592500, 0.798750, 0.723750, 0.406250
#*# 	  -0.061250, 0.447500, 0.722500, 0.648750, 0.386250
#*# 	  -0.086250, 0.308750, 0.508750, 0.520000, 0.345000
#*# 	  -0.285000, 0.637500, 0.627500, 0.612500, 0.440000
#*# 	  -0.473750, 0.338750, 0.800000, 0.856250, 0.643750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 550.0
#*# min_y = 50.0
#*# max_y = 550.0
#*#
#*# [bed_mesh p1]
#*# version = 1
#*# points =
#*# 	  0.186250, 0.592500, 0.798750, 0.723750, 0.406250
#*# 	  -0.061250, 0.447500, 0.722500, 0.648750, 0.386250
#*# 	  -0.086250, 0.308750, 0.508750, 0.520000, 0.345000
#*# 	  -0.285000, 0.637500, 0.627500, 0.612500, 0.440000
#*# 	  -0.473750, 0.338750, 0.800000, 0.856250, 0.643750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 550.0
#*# min_y = 50.0
#*# max_y = 550.0
