########################################
# RING.cfg
# Ring/Zone Heater Control Configuration
########################################

# Ring Heater controlled via PWM (using fan output)
# This uses inverted logic - higher "fan" speed = less heat
[fan]
pin: PA4  # Change to your ring heater pin
max_power: 0.5  # Limits max heater power to 50%
shutdown_speed: 0
cycle_time: 0.03125
hardware_pwm: False
kick_start_time: 0.100

# M106 macro to invert fan commands for heater control
# M106 S0 = heater at 50% (max)
# M106 S255 = heater off
[gcode_macro M106]
rename_existing: M106.1
gcode:
    {% set fan_speed = params.S|default(0)|int %}
    {% set heater_pwm = ((255 - fan_speed) / 255 * 128) | int %}
    M106.1 S{heater_pwm}

# Temperature sensor to monitor ring heater zone
[temperature_sensor Ring_Zone]
sensor_type: ATC Semitec 104GT-2  # Change to your thermistor type
sensor_pin: PC5  # Change to your sensor pin
min_temp: 0
max_temp: 400
gcode_id: Ring