########################################
# T0_FILAMENT_RUNOUT_SENSOR.cfg
# Filament Runout Sensor Configuration for T0
# Author: Vijay Raghav Varada
# Version: 1
########################################

########################################
# Filament Switch Sensor Hardware Configuration
########################################

[filament_switch_sensor switch_sensor_T0]
switch_pin: ^PF4
pause_on_runout: True
runout_gcode:
    RESPOND TYPE=echo MSG="Filament Runout detected on T0"
insert_gcode:
    RESPOND TYPE=echo MSG="Filament inserted on T0"

[delayed_gcode SET_T0_FILAMENT_RUNOUT_SENSOR_STARTUP]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=switch_sensor_T0 ENABLE=0
