########################################
# T0_FILAMENT_JAM_SENSOR.cfg
# Filament Jam/Motion Sensor Configuration for T0
# Author: Vijay Raghav Varada
# Version: 1
########################################

########################################
# Filament Motion Sensor Hardware Configuration
########################################

[filament_motion_sensor encoder_sensor_T0]
switch_pin: ^PF3
detection_length: 12
extruder: extruder
pause_on_runout: True
runout_gcode:
    RESPOND TYPE=echo MSG="Filament Jam Detected on T0"

[delayed_gcode SET_T0_FILAMENT_JAM_SENSOR_STARTUP]
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor_T0 ENABLE=0
